#!/bin/bash
export PGPASSWORD=""
# Hosted zone ID for phila.city
export PHILACITY_ZONE_ID=""
export TEAMS_WEBHOOK_URL=""

export PROD_ENDPOINT=''
export STAGE_ENDPOINT=''

export BLUE_CNAME=''
export GREEN_CNAME=''
export BLUE_ENGINE_CNAME=''
export GREEN_ENGINE_CNAME=''

# Access key that can pull from our S3 directory containing election_block.csv and usps_zip4s.csv 
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export ENGINE_DB_PASS=""
