#!/bin/bash
# Instructs the docker container to use the local database if true
export DEV_TEST='false'
# For the warmup_lb function to be able to make HTTP gets from behind our proxy to AWS, since the ALBs are public endpoints and not internal
export PROXY_AUTH='http://user:password@proxy.address:8080'
# Password for the local postgres instance we're building into.
export LOCAL_PASSWORD=""
# For warmup_lb.py
export GATEKEEPER_KEY=""

# Our Microsoft Teams webhook for sending alerts
export TEAMS_WEBHOOK_URL="https://phila.webhook.office.com/webhookb2/stuff/IncomingWebhook/stuff"
export TEAMS_WEBHOOK_URL=""

# Public hosted zone ID for citygeo.phila.city, gets our dns records out there for other accounts like mulesoft
export CITYGEOPHILACITY_ZONE_ID=""
# Somehow, the SE account that hosts Gatekeeper reads records from this **private** hosted zone.
# So we need to set the records here too.
# Can be removed when we stop hosting gatekeeper.
export PHILACITY_ZONE_ID=""

# Route 53 DNS for accessing the cluster APIs
export PROD_ENDPOINT='ais-prod.citygeo.phila.city'
export STAGE_ENDPOINT='ais-stage.citygeo.phila.city'

# Various db passwords needed throughout the process
# We will switch between them in the build script depending on need by reassining them with:
# export PGPASSWORD=$PASSWORD_VAR
# RDS engine password for ais_engine
export ENGINE_DB_PASS=""
# RDS engine password for postgres
export PG_ENGINE_DB_PASS=""
# local postgres pass
export LOCAL_ENGINE_DB_PASS=""

# Access key that can pull from our S3 directory containing election_block.csv and usps_zip4s.csv 
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
