alembic==0.8.4
-e git+https://github.com/CityOfPhiladelphia/datum.git@691f14794492ff47aacdee684080fee0b555c69f#egg=datum
-e git+https://github.com/CityOfPhiladelphia/passyunk.git@4d0ea060136b71cedb05b525c051094e14b620f9#egg=passyunk
Flask==0.10.1
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Cors==2.1.2
Flask-CacheControl==0.1.2
GeoAlchemy2==0.2.6
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
normality==0.2.4
psycopg2==2.6.1
python-editor==0.5
PyYAML==3.11
SQLAlchemy==1.0.12
Werkzeug==0.11.4
zope.interface==4.1.3
raven[flask]==5.21.0

# For passyunk
fuzzywuzzy==0.11.1
python-levenshtein==0.12.0
