git+https://github.com/CityOfPhiladelphia/geopetl.git#egg=geopetl

# Public code for passyunk
git+https://github.com/CityOfPhiladelphia/passyunk

# Auto-built repo containing our privately built data. Notice
# the host name 'private-git' is a custom hostname informed by the
# ssh config file we install in our Dockerfile. This will use our private
# deploy key
git+ssh://git@private-git/CityOfPhiladelphia/passyunk_automation.git

-e git+https://github.com/CityOfPhiladelphia/datum.git@ais_version#egg=datum

alembic
# flasgger=0.5.14
itsdangerous
Jinja2
Mako
MarkupSafe
normality
psycopg2-binary
pyproj
python-editor
#PyYAML==3.11
pyyaml
raven[flask]
Shapely
SQLAlchemy
zope.interface
pathlib2

# For passyunk
fuzzywuzzy
python-levenshtein

petl

# For warmup_lb.py
requests
