alembic==1.0.0
-e git+https://github.com/CityOfPhiladelphia/datum.git@ais_version#egg=datum
#-e git+https://github.com/CityOfPhiladelphia/datum.git#egg=datum
-e git+https://github.com/CityOfPhiladelphia/passyunk.git#egg=passyunk
# flasgger==0.5.14
Flask==1.0.2
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Cors
Flask-CacheControl
GeoAlchemy2
itsdangerous==0.24
Jinja2==2.10.1
Mako==1.0.3
MarkupSafe==0.23
normality==0.2.4
psycopg2==2.7.5
pyproj==1.9.5.1
python-editor==0.5
#PyYAML==3.11
pyyaml>=4.2b1
raven[flask]==5.21.0
Shapely>=1.5.13
SQLAlchemy
Werkzeug
zope.interface
petl==1.1.1
-e git+https://github.com/CityOfPhiladelphia/geopetl.git@4d77021c164d5b6fd8db62c30d44106a93204a72#egg=geopetl
pathlib2

# For passyunk
fuzzywuzzy==0.11.1
python-levenshtein==0.12.0
