alembic==0.8.4
cx-Oracle==5.2.1
-e git+https://github.com/CityOfPhiladelphia/datum.git@ef13c4348db5aa82e99766676b81d642b81af1e4#egg=datum
Flask==0.10.1
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
GeoAlchemy2==0.2.6
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
normality==0.2.4
psycopg2==2.6.1
pyproj==1.9.5
python-editor==0.5
PyYAML==3.11
Shapely>=1.5.13
six==1.10.0
SQLAlchemy==1.0.12
Werkzeug==0.11.4
zope.interface==4.1.3
