git+https://github.com/CityOfPhiladelphia/ais.git#egg=ais
git+https://github.com/CityOfPhiladelphia/geopetl.git#egg=geopetl
flask_cors
flask_sqlalchemy
flask_migrate
flask_cachecontrol
geoalchemy2
dotenv
dnspython
shapely
blinker==1.9.0
    # via flask
click==8.5.0
    # via flask
flask==3.1.3
    # via -r requirements.in
gevent==26.8.0
    # via -r requirements.in
psycogreen
    # via gevent
greenlet==3.5.5
    # via gevent
gunicorn==26.2.0
    # via -r requirements.in
itsdangerous==2.2.0
    # via flask
jinja2==3.1.6
    # via flask
markupsafe==3.0.3
    # via
    #   flask
    #   jinja2
    #   werkzeug
petl==1.7.24
    # via geopetl
psycopg2-binary==2.9.12
    # via -r requirements.in
six==1.10.0
    # via datum
werkzeug==3.1.8
    # via flask
zope-event==6.2
    # via gevent
zope-interface==8.6
    # via gevent
