files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_get_private_files.sh:
    content: |
        #!/bin/bash -xe
        aws s3 cp "s3://elasticbeanstalk-us-east-1-676612114792/static files/usps_zip4s.csv" "/opt/python/run/venv/src/passyunk/passyunk/pdata" && aws s3 cp "s3://elasticbeanstalk-us-east-1-676612114792/static files/election_block.csv" "/opt/python/run/venv/src/passyunk/passyunk/pdata"
    group: root
    mode: "000755"
    owner: root