files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_kill_default_httpd.sh:
    content: |
        #!/bin/bash -xe
        sed -e'/^WSGIScriptAlias/a ProxyPreserveHost on' /etc/httpd/conf.d/wsgi.conf > /tmp/tempfile1
        sed -e'/^ProxyPreserveHost/a AllowEncodedSlashes on' /tmp/tempfile1 > /tmp/tempfile2
        sed -e'/^LoadModule wsgi_module modules/i <IfModule !wsgi_module>' /tmp/tempfile2 > /tmp/tempfile3
        sed -e'/^LoadModule wsgi_module modules/a </IfModule>' /tmp/tempfile3 > /etc/httpd/conf.d/wsgi.conf
        rm -f /tmp/tempfile*
        /bin/sh /opt/elasticbeanstalk/hooks/restartappserver/enact/01restart.sh
    group: root
    mode: "000755"
    owner: root