option_settings:
  aws:elasticbeanstalk:container:python:
    NumProcesses: 1
    NumThreads: 4
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /addresses/2401%20Pennsylvania%20Ave?include_units&opa_only
  aws:autoscaling:trigger:
    MeasureName: Latency
    Period: '1'
    Unit: Seconds
    UpperThreshold: '0.5'
    UpperBreachScaleIncrement: '2'
    LowerThreshold: '0.3'
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '3'
    Cooldown: '600'
